// Primary

$primaryBrown: #413531;
$primaryDarkBrown: #34251f;
$primaryLightBrown: #eeddcc;
$primaryMediumBrown: #d3a17e;

// Secondary

$secondaryOrange: #ffb168;
$secondaryRed: #c20a0a;

// Tertiary

$tertiaryWhite: #ffffff;
