.home {
  width: 100%;

  padding: 40px 0;
}

.home-loading {
  width: 100%;

  display: flex;
  justify-content: center;
}

.home-content {
  width: 100%;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.home-categories {
  width: 100%;

  margin-top: 40px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
