@import '@/styles/theme.scss';

.navigation {
  width: 100%;

  padding: 20px 0;

  background-color: $primaryLightBrown;
}

.navigation-content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-content__logo {
  p {
    font-size: 20px;
    font-family: 'Frank Ruhl Libre';
  }
}
